{% extends 'base.html.twig' %}

{% block contenido %} 

{% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mis Compras'  } %}
    
<!-- Listar Ventas del Usuario -->
 {% include "Venta/listarVentas.html.twig" with { 'ventas' : ventas  } %}
<!-- Listar Ventas del Usuario -->

<!-- Botones de Direccionamiento -->
<div class="offset-s2 col s8 offset-s2">
    <center>
      <a href="{{ path('index') }}" class="waves-effect waves-light btn-small colorOficial white-text">
       <i class="material-icons left">home</i>Volver al Home
      </a> 
    </center>
</div>
<!-- Botones de Direccionamiento -->

<br>
<br>

{% endblock %}
