{% extends 'base.html.twig' %}

{% block contenido %} 
    
{% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Editar Producto'  } %}

{% include "default/alertasFlash.html.twig" %}



<!-- Fotos -->
<div class="row">
  {% if producto.getImagens()|length > 0 %}      
    <!-- Iteramos sobre todas las imagenes conseguidas -->      
      {% for imagen in producto.getImagens() %}
        <div class="col s12 m6 l4">              
         <img class="imagenProducto redondearBordes" src="{{ asset(imagen.url) }}">
         <a href="{{ path('imagen_eliminar',{'idImagen': imagen.id}) }}" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">remove</i></a> 
        </div>
      {% endfor %}
    <!-- Iteramos sobre todas las imagenes conseguidas -->        
  {% else %}
    <blockquote class="textoBlockquote grey lighten-2">
     <br>
     <p><strong><i class="material-icons left">info</i> No hay imagenes para eliminar del Producto!</strong></p>
     <br>
    </blockquote>
  {% endif %}
</div>
<!-- Fotos -->


<!-- Botones de Direccionamiento -->
<div class="offset-s2 col s8 offset-s2">
    <center>
      <a href="{{ path('producto_editar',{'idProducto': producto.id}) }}" class="waves-effect waves-light btn-small colorOficial white-text">
       <i class="material-icons left">assignment</i>Volver 
      </a> 
      <a href="{{ path('index') }}" class="waves-effect waves-light btn-small colorOficial white-text">
       <i class="material-icons left">home</i>Volver al Home
      </a> 
    </center>
</div>
<!-- Botones de Direccionamiento -->

<br>
<br>

{% endblock %}
