<div class="row gradiente1">
 <br>
 <center><h1>¿Quienes Somos?</h1></center>
 <br>
    <p align="center" class="textoHome">
 	  {{ mensajeHome.mensaje }}
    </p>
 <br>
</div>

<div class="row">
 <br>
 <img class="responsive-img" src="{{ asset('img/logo.png') }}">
 <br>
</div>


