{% include "default/bannerMensaje.html.twig" with { 'mensaje' : "Conoce mas de Nosotros"  } %}

<div class="row">

<div class="embedsocial-hashtag" data-ref="0525bfeabe3134fc68ac09467be0a43d5904de9b"></div>
<script>
   (function(d, s, id) {
       var js; 
         if (d.getElementById(id)) {
          return;
         } 
       js = d.createElement(s); 
       js.id = id; 
       js.src = 'https://embedsocial.com/cdn/ht.js'; 
       d.getElementsByTagName("head")[0].appendChild(js);
      }
   (document, 'script', 'EmbedSocialHashtagScript')
   );
</script>

</div>

