{% extends 'base.html.twig' %}
 
  
{% block contenido %}
<div class="separadorMain">  


  <!-- Caja  -->
  <div class="offset-s2 col s8 offset-s2">
    {% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Bienvenido al Panel de Usuarios'  } %}
    <div class="row">
    <table id="tabla" class="striped centered">
        <thead class="colorOficial white-text">
          <tr>
              <th>Usuario</th>
              <th>Rango</th>
              <th>Mail</th>
              <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="cyan lighten-5">
          {% for usuario in usuarios %}
          <tr>
            <td><strong>{{usuario}}</strong></td>
            <td> 
              {% if usuario.roles[0] == "ROLE_ADMIN" %}
               <strong><i class="material-icons small">verified_user</i> Administrador</strong>
              {% endif %}
              {% if usuario.roles[0] == "ROLE_USER" %}
               <strong><i class="material-icons small">person</i> Usuario</strong>
              {% endif %}
            </td>
            <td>{{usuario.mail}}</td>
            <td>              
              <a href="{{ path('editarUsuario',{'idUser': usuario.id}) }}" class="btn-floating btn-small waves-effect waves-light red" title="Editar"><i class="material-icons">create</i></a>
              <a href="#" class="btn-floating btn-small waves-effect waves-light red" title="Borrar"><i class="material-icons">delete</i></a>
            </td>         
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>   
  <!-- Caja -->

   <!-- Botones de Direccionamiento -->
    <div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('user') }}" class="waves-effect waves-light btn-small colorOficial white-text">
          <i class="material-icons left">arrow_back</i>Volver
        </a> 
    </center>
    </div>
    <!-- Botones de Direccionamiento -->


</div>
{% endblock contenido %}            

